%p.title
  Rename folder

- form_tag :action => 'update', :id => @folder do
  = render :partial=>'form'
  = submit_tag 'Rename'

= link_to 'Back', :action => 'list', :id => controller.folder_id

- content_for :actionlinks do
  = render :partial => "actionlinks"
