- unless controller.folder_id.blank? or not @logged_in_user.can_create(controller.folder_id)
  = link_to t(".create_folder", :default => 'Create folder'), { :controller => 'folder', :action => 'new', :id => controller.folder_id }
  %br
  = link_to t(".upload_file", :default => 'Upload file'), { :controller => 'file', :action => 'upload', :id => controller.folder_id }
