= link_to t(".user_settings", :default => 'user settings'), { :controller => 'user', :action => 'edit', :id => @logged_in_user.id }
%br
= link_to t(".sign_out", :default => 'sign out'), { :controller => 'authentication', :action => 'logout' }
