%p.title
  Forgot password

%p
  To get a new password:
%ul
  %li
    Enter the username and/or the e-mail address you registered with;
  %li
    Click 'Give me a new password';
  %li
    Check your e-mail for the new password

- form_tag do
  Username:
  %br
  = text_field 'user', 'name'
  %br
  %br
  E-mail:
  %br
  = text_field 'user', 'email'
  %br
  %br
  = submit_tag 'Give me a new password'

= link_to 'Back to login', :action => 'login'
