%p.title
  New user

- form_tag :action => 'create' do
  = render :partial=>'form'
  = submit_tag 'Create'

= link_to 'Back', :action => 'list'

- content_for :actionlinks do
  = render :partial => "actionlinks"
