%p.title
  New group
- form_tag :action => 'create' do
  = render :partial=>'form'
  = check_box('permission_to_everything', 'checked', {}, 'yes', 'no')
  Give this group ALL permissions in existing folders
  %br
  %font{ :style => "font-size:10px;" }
    (By default new groups get NO permissions in existing folders.)
  %br
  %br
  = submit_tag 'Create'

= link_to 'Back', :action => 'list'
