%html
  %head
    %title
      Boxroom
    = stylesheet_link_tag 'boxroom'
    = javascript_include_tag 'application'
    %script{ :type => "text/javascript" }
      if(IE)
      {
      window.onload = ResizeContentDiv;
      window.onresize = ResizeContentDiv;
      }
  %body
    #top
      .header
        .userSettings
        .search
      .topNavigation
        .links
    #middle
      .actionLinks
      .content
        %table{ :cellspacing => "0", :cellpadding => "0" }
          %tr
            %td
              = yield
    #bottom
      .footer
        ©
        %a{ :href => "http://boxroom.rubyforge.org" }
          Mischa Berger
        ,
        = Time.now.year
